@model WebApplication1.Controllers.user

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


@using (Html.BeginForm())
{  @Html.AntiForgeryToken()
<div class="center-block" style="float:left">


    <h1>Socios De Club Proyecto Final</h1>
    <div class="form-content">
        <form name="Create2" action="~/users/Create2" method="post">
            <div class="form-info">
                <h2>Registrar</h2>
            </div>
            <div class="email-w3l">
                <span class="i1 col-md-12"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                @Html.EditorFor(model => model.nombre_usuario, new { htmlAttributes = new { @class = "email" } })
                @Html.ValidationMessageFor(model => model.nombre_usuario, "", new { @class = "text-danger" })
            </div>
            <div class="email-w3l">
                <span class="i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "email" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
            <div class="pass-w3l">
                <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                @Html.EditorFor(model => model.password_usuario, new { htmlAttributes = new { type = "password", @class = "pass" } })
                @Html.ValidationMessageFor(model => model.password_usuario, "", new { @class = "text-danger" })
            </div>

            <div class="submit-agileits">
                <input class="login" type="submit" value="Registrar">
            </div>
          
         

                <div class="submit-agileits">
                    @Html.ActionLink("Login", "Login", "Login")
                </div>
            

        </form>
    </div>

</div>
}
<!---728x90--->
<footer>&copy; 2019 ITLA. Yojanser Brito Proyecto Final | Programacion Web <a href="#">2017-5730</a></footer>
<!---728x90--->
